<!DOCTYPE html>
<html ng-app="spotifyApp">
  <head>
    <meta charset="utf-8">
    <title>Spotify Web Player</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>
  <body ng-controller="spotifyController">
    <ul class="navBar">
<li class='nav-img nav-top'>
  <img class='img' src="img/Spotify.png" alt="">
</li>
<li class='nav-img'>
  <div class="mySideNav">
    <input type="text" class="form-control" ng-model="artist" placeholder="Artist Name" >
    <button class="btn btn-primary" ng-click="getData(artist)"> Submit </button>
  </div>
  <img class="img" src="img/Search.svg" alt="">
  <span>search</span>
</li>
<li class='nav-img'>
  <img class='img' src="img/browse.png" alt="">
  <span>Browse</span>
</li>
<li class='nav-img'>
  <img class='img' src="img/radio.png" alt="">
  <span>Radio</span>
</li>
<li class='nav-img'>
  <img class='img' src="img/music.png" alt="">
  <span class="smaller">Your Music</span>
</li>
<li class='nav-img'>
  <img class='img' src="img/follow.svg" alt="">
  <span>Follow</span>
</li>
    </ul>
    <div class="main-container">

  <div class="container" ng-model='musicInfo' ng-repeat="music in musicInfo">
    <p>{{music.Title}} {{music.Artist}} {{music.Collection}} {{music.Genre}}</p>
    <hr>
  </div>
  </div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/mainCtrl.js"></script>
<script src="js/spotifyService.js"></script>
  </body>
</html>
