body {
  margin: 0px;
  font-family: 'Varela Round', sans-serif;
  background-color:  #fff;
}
.top-Bar {
  background-color: #0A2342;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  z-index: -1
}
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0A2342;
    display: flex;
    flex-direction: row;
    height: 50px;
    color: #fff;
}
.erase {
  cursor: pointer;
}
.navOption a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navOption a:hover {
    background-color: #111;
    color: #fff;
    text-decoration: none;
}
.nav-logo {
  width: 45px;
  height: 40px;
  padding-top: 6px;
}

.main-Container {
  margin: auto;
  width: 1000px;
}
.searchbar {
  display: flex;
  flex-direction: row;
  font-size: 24px;
}
.search {
  width: 20px;
  filter: invert(60%);
}
.inputSearch {
  border-style: none;
  font-size: 25px;
  width: 900px;
}
.inputSearch:focus {
  outline: none;
}
.footer {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  color: #fff;
  max-width: 1000px;

}
.footer-right {
  display: flex;
  flex-direction: row;
}
.photo-holder {
  width: 50px;
  margin: 10px;
}
.photo {
  width: 100%
}
.bottom-Bar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 82px;
  background-color: #0A2342;
}
.contentTitle {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.contentContainer {
width: 1000px;
height: 600px;
margin-left: auto;
margin-right: auto;
margin-bottom: 125px;
display: flex;
margin-top: 20px;
flex-direction: row;
justify-content: space-between;
}
.inTheaters {
width: 400px;
height: 600px;
position: relative;
}
.superHeros {
  width: 400px;
  height: 600px;
  position: relative;
}
.mini-inTheaters1 {
  position: absolute;
  width: 185px;
  top: 0px;
  left: 0px;
}
.mini-inTheaters2 {
  position: absolute;
  width: 215px;
  top: 0px;
  right: 0px;
}
.mini-inTheaters3 {
  position: absolute;
  width: 215px;
  bottom: 0px;
  left: 0px;
}
.mini-inTheaters4 {
  position: absolute;
  width: 185px;
  bottom: 0px;
  right: 0px;
}
/*styling for item.html*/
.container {
  filter: brightness(120%) grayscale(12%) opacity(65%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 81px);
  display: block;
}
  .cover {
  background-color: black;
  filter: opacity(80%);
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 81px);
  display: block;
}
.top-info {
  margin-top: 50px;
  color: white;
}
.item_poster {
  width: 250px;
  height: 500px;
  float: left;
  margin-right: 40px;
}
.item_title {
  font-size: 25px;
  font-weight:bold;
}
.item_year {
  color: gray;
  margin-left: 5px;
  margin-right: 5px;
}
.item_score {
  background-color: green;
  border-radius: 2px;
  padding-left: 6px;
  padding-right: 6px;
}
.item_overTitle {
  font-size: 22px;
  font-weight: bold;
}
.item_data li {
  list-style-type: none;
  margin: 15px;
  color: #01d277;
}
.item_info {
  background-color: rgba(255, 255, 255, 0.35);
  border: solid 1px #01d277;
  border-radius: 8px;
  margin: 0px;
  padding-left: 6px;
  padding-right: 6px;
}
.item_info a:link {
  color:#01d277;
}
.item_info a:visited {
  color:#01d277;
}
/*style for upcoming and now Playing*/
.list_item {
  margin: 20px;
  border-bottom: solid black 1px;
  height: 160px;
}
.list_poster {
  width: 80px;
  height: 120px;
  float: left;
  margin-right: 20px;
}
.list_list li{
  list-style-type: none;
  clear: both;
}
/*collection page styling*/
.top-collection {
  border: red solid 1px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-top: 50px;
}
.collection_left {
  float: left;
  border: blue solid 1px;
}
.item_profilepic {
  height: 150px;
  width: 150px;
}
.collection_listTitle {
  list-style-type: none;
}
.collection_list {
  list-style-type: none;
}
.collection_right {
  width: 846px;
  border: 1px solid red;
  float: right;
}
@media only screen and (max-width: 1000px) {
  .list_item {
    height: 230px;
  }
  .navBar {
    flex-direction: column;
    height: 230px;
  }
  .main-Container {
    width: 600px;
  }
  .top-Bar {
    height: 230px;
  }
.navOption a:hover {
    background-color: #0A2342;
    color: #01d277;
    text-decoration: none;
  }
.navOption a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  .nav-logo {
    margin-bottom: 10px;
  }
  .contentContainer {
    display: block;
    width: 400px;
    height: 1200px;
  }
  .contentTitle {
    width: 400px;
    margin: auto;
  }
  .bottom-Bar {
    position: relative;
  }
}
