body {
  margin: 0px;
  font-family: 'Varela Round', sans-serif;
  background-color:  #fff;
}
.top-Bar {
  background-color: #0A2342;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  z-index: -1
}
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0A2342;
    display: flex;
    flex-direction: row;
    height: 50px;
    color: #fff;
}
.erase {
  cursor: pointer;
}
.cursor {
  cursor: pointer;
}
.navOption a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navOption a:hover {
    background-color: #111;
    color: #fff;
    text-decoration: none;
}

.nav-logo {
  width: 45px;
  height: 40px;
  padding-top: 6px;
}

.main-Container {
  margin: auto;
  width: 1000px;
}
.searchbar {
  display: flex;
  flex-direction: row;
  font-size: 24px;
}
.search {
  width: 20px;
  filter: invert(60%);
}
.filter {
  background-color:#0A2342;
  color:white;
  padding:12px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:8px;
  -webkit-border-radius:8px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
          margin-left: 80px;
}
.inputSearch {
  border-style: none;
  font-size: 25px;
  width: 900px;
}
.inputSearch:focus {
  outline: none;
}
.footer {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  color: #fff;
  max-width: 1000px;

}
.footer-right {
  display: flex;
  flex-direction: row;
}
.photo-holder {
  width: 50px;
  margin: 10px;
}
.photo {
  width: 100%
}
.bottom-Bar {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 82px;
  background-color: #0A2342;
  clear: both;
}
.contentTitle {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: auto;
}
.notSuperTitle {
  display: none;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contentContainer {
width: 1000px;
height: 620px;
margin-left: auto;
margin-right: auto;
margin-bottom: 125px;
display: flex;
margin-top: 20px;
flex-direction: row;
justify-content: space-between;
}
.inTheaters {
width: 400px;
height: 600px;
position: relative;
}
.superHeros {
  width: 400px;
  height: 600px;
  position: relative;
}
.mini-inTheaters1 {
  position: absolute;
  width: 185px;
  top: 0px;
  left: 0px;
}
.mini-inTheaters2 {
  position: absolute;
  width: 215px;
  top: 0px;
  right: 0px;
}
.mini-inTheaters3 {
  position: absolute;
  width: 215px;
  bottom: 0px;
  left: 0px;
}
.mini-inTheaters4 {
  position: absolute;
  width: 185px;
  bottom: 0px;
  right: 0px;
}
/*styling for item.html*/
.container {
  filter: brightness(120%) grayscale(12%) opacity(65%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 81px);
  display: block;
}
  .cover {
  background-color: black;
  filter: opacity(80%);
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 81px);
  display: block;
}
.top-info {
  margin-top: 50px;
  color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-height: 721px;
}
.item_poster {
  width: 250px;
  height: 510px;
  float: left;
  margin-right: 40px;
}
.item_title {
  font-size: 25px;
  font-weight:bold;
}
.item_year {
  color: gray;
  margin-left: 5px;
  margin-right: 5px;
}
.item_score {
  background-color: green;
  border-radius: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
  color: white;
}
.item_score_best {
  background-color: green;
  border-radius: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
  color: white;
}
.item_score_better {
  background-color: #a9f23c;
  color: #002f96;
  border-radius: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
}
.item_score_okay {
  background-color: orange;
  border-radius: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
  color: white;
}
.item_score_bad {
  background-color: red;
  border-radius: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
  color: white;
}
.item_overTitle {
  font-size: 22px;
  font-weight: bold;
}
.item_add {
  font-size: 20px;
  margin: 10px;
  position: relative;
}
.item_addToList {
position: absolute;
top: 0px;
left: 270px;
width: 110px;
height: 110px;
border-radius: 5px;
color: black;
border: #01d277 2px solid;
background-color: rgba(255, 255, 255, 0.85);
}
.item_options {
  font-size: 18px;
  margin: 8px;
  padding: 2px;
  border-radius: 4px;
}
.item_options:active {
  background-color: #01d277;
  color: white;
}
.item_data li {
  list-style-type: none;
  margin: 15px;
  color: #01d277;
}
.item_info {
  background-color: rgba(255, 255, 255, 0.35);
  border: solid 1px #01d277;
  border-radius: 8px;
  margin: 0px;
  padding-left: 6px;
  padding-right: 6px;
}
.item_info a:link {
  color:#01d277;
}
.item_info a:visited {
  color:#01d277;
}
/*style for upcoming and now Playing*/
.list_item {
  margin: 20px;
  border-bottom: solid black 1px;
  height: 160px;
}
.list_poster {
  width: 80px;
  height: 120px;
  float: left;
  margin-right: 20px;
}
.list_list li{
  list-style-type: none;
  clear: both;
}
.list_list {
max-width: 1000px;
margin: auto;
}
.item_overview {
  margin: 4px;
}
/*collection page styling*/
.top-collection {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-top: 50px;
}
.collection_left {
  float: left;
  height: 734px;
}
.item_profilepic {
  height: 170px;
  width: 170px;
}
.collection_listTitle {
  list-style-type: none;
}
.collection_list {
  list-style-type: none;
}
.collection_right {
  width: 826px;
  float: right;
}
.collection_title {
  margin: 20px;
  font-size: 30px;
}
.collection_delete {
  float: right;
  font-size: 30px;
  margin-right: 10px;
}
.collection_movie {
  font-size: 30px;
  margin-right: 10px;
}
.collection_date {
  color: gray;
  margin-left: 10px;
}
.profile_name {
  font-size: 25px;
  font-weight: bold;
}
.profile_title {
  font-size: 30px;
  font-weight: bold;
}
.collection_addToList {
position: absolute;
top: 0px;
left: 150px;
width: 110px;
height: 100px;
border-radius: 5px;
color: white;
border: #01d277 2px solid;
background-color: rgba(0, 0, 0, 0.65);
}
#collection_ListHeight {
  height: 60px;
}
.moveItemActive {
  display: none;
}
.mycollection {
  width: 103px;
  padding: 4px;
  border-radius: 30px;
  margin-top: 11px;
  background-color: #11478a;
  color: white;
  font-weight: 400;
  padding-left: 16px;
  box-shadow: 2px 9px #999;
}
.mycollection:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.mycollectionActive {
  background-color: #01d277;
}
.changeButtons {
font-size: 20px;
}
/*styling for search.html*/
.search_poster {
  width: 146px;
  height: 220px;
  float: left;
  margin-right: 20px;
}
.search_item {
  margin: 40px;
  border: solid grey .25px;
  height: 220px;
  box-shadow: 2px 2px 12px grey;
  list-style-type: none;
  overflow: auto;
  border-radius: 4px;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.search_item a:link {
  color: black;
  text-decoration: none;
}
.search_item a:visited {
  color: black;
  text-decoration: none;
}
.search_title {
  font-size: 25px;
  font-weight: bold;
}
.search_rating {
  float: right;
  margin: 10px;
}
.search_date {
  color: gray;
  float: right;
  margin: 10px;
}
.search_addToList {
position: absolute;
top: 0px;
left: 150px;
width: 110px;
height: 100px;
border-radius: 5px;
color: black;
border: #01d277 2px solid;
background-color: rgba(255, 255, 255, 0.85);
}
.state_title {
  margin: 40px;
}
@media only screen and (max-width: 1000px) {
  .list_item {
    height: 230px;
  }
  .inputSearch {
    width: 600px;
    margin: auto;
  }
  .navBar {
    flex-direction: column;
    height: 55px;
  }
  .main-Container {
    width: 100%;
  }
  .top-Bar {
    height: 55px;
  }
.navOption a:hover {
    background-color: #0A2342;
    color: #01d277;
    text-decoration: none;
  }
.navOption a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  .nav-logo {
    margin-bottom: 10px;
  }
  .contentContainer {
    display: block;
    width: 400px;
    height: 1200px;
  }
  .contentTitle {
    width: 400px;
    margin: auto;
  }
  .superTitle {
    display: none;
  }
  .notSuperTitle {
    display: block;
  }
  .bottom-Bar {
    position: relative;
  }
  .collection_left {
    float: left;
    height:450px;
  }
  .item_profilepic {
    height: 370px;
    width: 370px;
    float: left;
    margin-right: 20px;
  }
  .collection_right {
    width: 800px;
    min-height: 950px;
    clear: both;
  }
  .mycollection {
    font-size: 16px;
    margin: 4px;
  }
  .collection_left {
    height: 370px;
    width: 800px;
  }
  .top-collection {
    width: 800px;
  }
  .collection_listTitle {
    font-size: 45px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .top-info {
    width: 800px;
    min-height: 1340px;
    font-size: 36px;
  }
  .item_poster {
    width: 350px;
    height: 550px;
  }
}
