<div class="top-collection">
  <div class="collection_left">
    <div class="item_profilepic">
      <img class="photo" src="img/profile.jpg" alt="">

    </div>
    <center><span class='profile_name'>Ryan Clark</span></center>
    <br>
    <br>
    <center><span class='profile_title'>Collections</span></center>
      <ul class="collection_listTitle">
        <li class='cursor mycollection {{active1}}' ng-click='ownList()'>Own</li>
        <li class='cursor mycollection {{active2}}' ng-click='wantList()'>Want</li>
        <li class='cursor mycollection {{active3}}' ng-click='upcomingList()'>Upcoming</li>
      </ul>
  </div>
  <div class="collection_right">
    <div class="collection_title">{{listTitle}}</div>
      <ul class="collection_list" ng-repeat='movie in movies[thisList] track by $index'>
        <li class="search_item">
        <img class="changeList photo search_poster" ng-src="{{movieImg + movie.poster_path}}" alt="">

        <div class="item_add">
          <div class="cursor openList" ng-click="hovering = true">&#9868;</div>
          <div id='{{smaller}}' class="collection_addToList" ng-show="hovering" ng-mouseleave="hovering = false">
            <span>Move To:</span>
            <div class='item_options {{moveItem1}} cursor' ng-click="moveMovie('owned', movie);removeItem(thisList, movie.id)">Owned</div>
            <div class='item_options {{moveItem2}} cursor' ng-click="moveMovie('want', movie);removeItem(thisList, movie.id)">Want</div>
          </div>

        </div>
        <a ui-sref='item({id: movie.id})'>
          <span class='collection_movie'>{{movie.title}}</span>
          <span class="collection_date">{{movie.release_date}}</span>
        </a>
          <span class='collection_delete cursor' ng-click="removeItem(thisList, movie.id)">x</span>
        <p class='item_overview'>{{movie.overview}}</p></li>
      </ul>
    </div>
</div>
