<div class="contentTitle">
<span>In Theaters</span>
<span>Super Hero Shows</span>
</div>
<div class="contentContainer">
  <div class="inTheaters">
<div class="mini-inTheaters1" ng-model='inTheaters1'>
  <a><img class="photo" ng-src={{img1}} alt=""></a></li>
</div>
<div class="mini-inTheaters2" ng-model='inTheaters2'>
  <img class="photo" ng-src={{img2}} alt="">
</div>
<div class="mini-inTheaters3" ng-model='inTheaters3'>
  <img class="photo" ng-src={{img3}} alt="">
</div>
<div class="mini-inTheaters4" ng-model='inTheaters4'>
  <img class="photo" ng-src={{img4}} alt="">
</div>
  </div>
  <div class="superHeros">
    <div class="mini-inTheaters1">
      <img class="photo" ng-src={{img5}} alt="">
    </div>
    <div class="mini-inTheaters2">
      <img class="photo" ng-src={{img6}} alt="">
    </div>
    <div class="mini-inTheaters3">
      <img class="photo" ng-src={{img7}} alt="">
    </div>
    <div class="mini-inTheaters4">
      <img class="photo" ng-src={{img8}} alt="">
    </div>
  </div>
</div>
