<div class="contentTitle">
<span>In Theaters</span>
<span class ="superTitle">Super Hero Shows</span>
</div>
<div class="contentContainer">
  <div class="inTheaters">
<div class="mini-inTheaters1" ng-model='inTheaters1'>
  <a ui-sref= 'item({id: id1})'><img class="photo" ng-src={{img1}} alt=""></a>
</div>
<div class="mini-inTheaters2" ng-model='inTheaters2'>
  <a ui-sref= 'item({id: id2})'><img class="photo" ng-src={{img2}} alt=""></a>
</div>
<div class="mini-inTheaters3" ng-model='inTheaters3'>
  <a ui-sref= 'item({id: id3})'><img class="photo" ng-src={{img3}} alt=""></a>
</div>
<div class="mini-inTheaters4" ng-model='inTheaters4'>
  <a ui-sref= 'item({id: id4})'><img class="photo" ng-src={{img4}} alt=""></a>
</div>
  </div>
  <span class="notSuperTitle">Super Hero Shows</span>
  <div class="superHeros">
    <div class="mini-inTheaters1">
      <a ui-sref= 'tvItem({id: id5})'><img class="photo" ng-src={{img5}} alt=""></a>
    </div>
    <div class="mini-inTheaters2">
      <a ui-sref= 'tvItem({id: id6})'><img class="photo" ng-src={{img6}} alt=""></a>
    </div>
    <div class="mini-inTheaters3">
      <a ui-sref= 'tvItem({id: id7})'><img class="photo" ng-src={{img7}} alt=""></a>
    </div>
    <div class="mini-inTheaters4">
      <a ui-sref= 'tvItem({id: id8})'><img class="photo" ng-src={{img8}} alt=""></a>
    </div>
  </div>
</div>
